<div>
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Dashboard</h1>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row">

    <stats number="{{noOfSensor}}" comments="Sensors" colour="green" type="forumbee" goto="dashboard.sensorListTable"></stats>
    <stats number="{{noOfActuator}}" comments="Actuators" colour="primary" type="external-link" goto="dashboard.actuatorListTable"></stats>
    <stats number="{{noOfTrigger}}" comments="Triggers" colour="yellow" type="bolt" goto="dashboard.triggerListTable"></stats>
    <stats number="{{noOfError}}" comments="Errors" colour="red" type="bomb" goto="dashboard.errorListTable"></stats>

  </div>

  <!-- /.panel -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Charts</h1>
    </div>
    <!-- /.col-lg-12 -->
  </div>


  <div class="row">
    <div class="col-lg-12 col-sm-12" id="line-chart" ng-controller="ChartCtrl">
      <div class="panel panel-default">
        <div class="panel-heading">Line Chart</div>
        <div class="panel-body">
          <canvas id="line" class="chart chart-line chart-xl" data="line1.values" labels="line1.timestamp" legend="true" barShowLables= "false", click="lineonClick"  >    </canvas>
        </div>
      </div>
    </div>
  </div>


<!--
  <div class="row">
    <div class="col-lg-6 col-sm-12" id="doughnut-chart" ng-controller="ChartCtrl">
      <div class="panel panel-default">
        <div class="panel-heading">Doughnut Chart</div>
        <div class="panel-body">
          <canvas id="doughnut" class="chart chart-doughnut chart-xs" data="line1.data" labels="line1.labels" legend="false"></canvas>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-sm-12" id="radar-chart" ng-controller="ChartCtrl">
      <div class="panel panel-default">
        <div class="panel-heading">Radar Chart</div>
        <div class="panel-body">
          <canvas id="area" class="chart chart-radar" data="line2.data" labels="line2.labels" click="onClick"></canvas>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-sm-12" id="pie-chart" ng-controller="ChartCtrl">
      <div class="panel panel-default">
        <div class="panel-heading">Pie Chart</div>
        <div class="panel-body">
          <canvas id="pie" class="chart chart-pie chart-xs" data="pie.data" labels="pie.labels"></canvas>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-sm-12" id="polar area-chart" ng-controller="ChartCtrl">
      <div class="panel panel-default">
        <div class="panel-heading">Polar Area Chart</div>
        <div class="panel-body">
          <canvas id="polar" class="chart chart-polar-area" data="polar.data" labels="polar.labels"></canvas>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-sm-12" id="base-chart" ng-controller="ChartCtrl">
      <div class="panel panel-default">
        <div class="panel-heading">Dynamic Chart</div>
        <div class="panel-body">
          <canvas id="base" class="chart chart-base" chart-type="dynamic.type" data="dynamic.data" labels="dynamic.labels" legend="true"></canvas>
        </div>
      </div>
      <button type="button" class="btn btn-primary pull-right" ng-click="dynamic.toggle()">Toggle</button>
    </div>
  </div>  -->



  <div class="row">
    <div class="col-lg-12 col-sm-12" id="line-chart" ng-controller="ChartCtrl">
      <div class="panel panel-default">
        <div class="panel-heading">Line Chart</div>
        <div class="panel-body">
         <rickshaw rickshaw-options="options2" rickshaw-features="features2" rickshaw-series="series2">    </rickshaw>
        </div>
      </div>
    </div>
  </div>


</div> 