<div>
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Dashboard</h1>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row">

    <stats number="{{noOfSensor}}" comments="Sensors" colour="green" type="forumbee" goto="dashboard.sensorListTable"></stats>
    <stats number="{{noOfActuator}}" comments="Actuators" colour="primary" type="external-link" goto="dashboard.actuatorListTable"></stats>
    <stats number="{{noOfTrigger}}" comments="Triggers" colour="yellow" type="bolt" goto="dashboard.triggerListTable"></stats>
    <stats number="{{noOfError}}" comments="Errors" colour="red" type="bomb" goto="dashboard.errorListTable"></stats>

  </div>

  <!-- /.panel -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Charts</h1>
    </div>
    <!-- /.col-lg-12 -->
  </div>


  <div class="row">
    <div class="col-lg-12 col-sm-12" id="temperature-chart" ng-controller="ChartCtrl">
      <div class="panel panel-default">
        <div class="panel-heading">Temperature Sensor</div>
        <div class="panel-body">
          <rickshaw rickshaw-options="tempOptions" rickshaw-features="features" rickshaw-series="temperature">    </rickshaw>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-sm-12" id="sound-chart" ng-controller="ChartCtrl">
      <div class="panel panel-default">
        <div class="panel-heading">Sound Sensor</div>
        <div class="panel-body">
          <rickshaw rickshaw-options="soundOptions" rickshaw-features="features" rickshaw-series="sound">    </rickshaw>
        </div>
      </div>
    </div>
  </div>

<div class="row">
  <div class="col-lg-12 col-sm-12" id="light-chart" ng-controller="ChartCtrl">
    <div class="panel panel-default">
      <div class="panel-heading">Light Sensor</div>
      <div class="panel-body">
        <rickshaw rickshaw-options="lightOptions" rickshaw-features="features" rickshaw-series="light">    </rickshaw>
      </div>
    </div>
  </div>
</div>


</div>
