<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav in" id="side-menu">
            <sidebar-search></sidebar-search>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.home"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li ui-sref-active="active">

                <a ui-sref="dashboard.chart"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span></span></a>

            </li>

            <li ng-class="{active: collapseVar==1}">{{dropDown}}
                <a href="" ng-click="check(1)"><i class="fa fa-wrench fa-fw"></i> Sensors<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=1">
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.panels-wells">List Sensors</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.buttons">Add a Sensor</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.notifications">Delete Sensor</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>


            <li ng-class="{active: collapseVar==1}">{{dropDown}}
                <a href="" ng-click="check(1)"><i class="fa fa-wrench fa-fw"></i> Actuators<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=1">
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.panels-wells">List Actuators</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.buttons">Add a Actuators</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.notifications">Delete Actuators</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>

            <li ng-class="{active: collapseVar==1}">{{dropDown}}
                <a href="" ng-click="check(1)"><i class="fa fa-wrench fa-fw"></i> Triggers<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=1">
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.panels-wells">List Triggers</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.buttons">Add a Trigger</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.notifications">Delete Trigger</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>

            <li><a href="http://software.intel.com/iot">Vist Intel Commerical Iot Software</a></li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
